*{
    text-align: center;
    font-family: 微软雅黑;
    background: url("../img/indexBg.jpg") no-repeat fixed center;
    overflow: hidden;
}

body{
    font-family: PingFang-SC-Regular,Helvetica,"Microsoft Yahei","微软雅黑";
}

#title{
    color: #0E587D;
    font-size: 108px;
}

h2{
    cursor: pointer;
}

#stealing{
    position: absolute;
    font-family: 微软雅黑;
    text-align: center;
    margin-top: 30%;
    margin-left: -4%;
}

/*#fileGo {*/
/*    background: transparent;*/
/*}*/
input[type = file] {
    background: transparent;
}